profiles {
    test {
        env {
            NXF_OPTS = '-Xms500m -Xmx3584m'       // 500MB to 3.5GB
            NXF_DEBUG = '0'
        }
//        params {
//            SARS2_FA = '../data/NC_045512.2.fa'
//            SARS2_FA_FAI = '../data/NC_045512.2.fa.fai'
//            SECRETS = '../data/projects_accounts.csv'
//        }
        cleanup = true
        docker {
            enabled = true
        }
//        singularity {
//            enabled = true
//            cacheDir = '/hps/nobackup/cochrane/ena/users/analyser/nextflow/singularity'
//        }
        process {
//           executor = 'slurm'
//            container = 'docker://quay.io/nextflow/bash'
            errorStrategy = 'terminate'
//            queue = 'production'
        }
        executor {
            queueSize = '100'
            submitRateLimit = '2000 second'
            time = '1h'
        }
//        tower {
//            workspaceId = 'xxxxx' // TOWER Workspace ID for POC
//            endpoint = 'https://tower.nf'
//        }
    }
}